@charset "utf-8";



body{
	margin:0;
	padding:0;
	
}

ul{
	margin:0;
	margin-bottom: 50px;
	padding:0;
	list-style:none;
	display:inline-block;
	
}

ul li{
	
	float:left;
}


.menuDesplegable{
	
	height:40px;
	width:100%;
	background:#3b3b3b;
}

.menuDesplegable li{
	height:40px;

}

.menuDesplegable li a{
	
	color:rgb(14, 146, 223);
	padding:8px;
	height:24px;
	display:block;
	text-decoration:none;
	font-size:18px;
	
	}

.menuDesplegable li a:hover{
	background:rgba(221, 72, 14, 0.616);
	height: 25px;
	
}

.menuDesplegable li ul{
	display:none;
}

.menuDesplegable li:hover ul{
	display:block;
	position:absolute;
	background:#3B3B3B;
	
}

.menuDesplegable li:hover ul li{
	float:none;
	position:relative;
}

.menuDesplegable li:hover ul li ul{
display: none ;
}

.menuDesplegable li ul li:hover ul{
display: block;
left:100%;
top:0;
}
.menuDesplegable li:hover ul li:hover ul li ul{
display: none;
}

.menuDesplegable li:hover ul li:hover ul li:hover ul{
display: block;
position:absolute;

}


.cabecera{
	height:100px;
	width:100%;
	background:rgb(134, 193, 233)

}




.container2{
	width:250px;
	height:250px;
	background:#A4A4A4;
	margin:25px;
	margin-top:50px;
	margin-left:20%;
	position:relative;
	overflow:hidden;
	transition: all .5s ease-in;
	float:left;
}

.container3{
	width:250px;
	height:250px;
	background:#A4A4A4;
	margin:25px;
	margin-top:50px;
	margin-left:10px;
	margin-right:10px;
	position:relative;
	overflow:hidden;
	transition: all .5s ease-in;
	float:left;
}

.container4{
	width:250px;
	height:250px;
	background:#A4A4A4;
	margin:25px;
	margin-top:50px;
	margin-left:10px;
	margin-right:20%;
	position:relative;
	overflow:hidden;
	transition: all .5s ease-in;
	float:left;
}

.arriba{
	width:250px;
	height:50px;
	background:rgba(78,44,91,.5);
	position:absolute;
	top:-50px;
	transition: all .5s ease-in;
	color:#FFFFFF;
	text-align:center;

}


.abajo{
	width:250px;
	height:50px;
	background:rgba(78,44,91,.5);
	position:absolute;
	top:250px;
	transition: all .5s ease-in;
	color:#FFFFFF;
	text-align:center;
}

.container2:hover .arriba{
	transform:translateY(50px);
	background:rgba(78,44,91,.5);
	
}

.container2:hover .abajo{
	transform:translateY(-50px);
	background:rgba(78,44,91,.5);
	font-size:10px;
	
}

.container3:hover .arriba{
	transform:translateY(50px);
	background:rgba(78,44,91,.5);
	
}

.container3:hover .abajo{
	transform:translateY(-50px);
	background:rgba(78,44,91,.5);
	font-size:10px;
	
}

.container4:hover .arriba{
	transform:translateY(50px);
	background:rgba(78,44,91,.5);
	
}

.container4:hover .abajo{
	transform:translateY(-50px);
	background:rgba(78,44,91,.5);
	font-size:10px;
}